//- =========================================================================================
	File Name: component-buttons-extended.pug
	Description: Buttons with built-in loading indicators, effectively bridging the gap between action and feedback.
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================

extends template

block pageVars
	- var pageTitle = "Buttons Extended"
	- var pageSubTitle  = "Buttons with built-in loading indicators"
	- var description  = "Extended buttons effectively bridging the gap between action and buttons."
	- var activeMenu = "component-buttons-extended"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Components"}, {name:"Buttons Extended"}])

//- Include page content in page block
append content
	include ../contents/component-buttons-extended.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
	//- Ladda Buttons CSS
	link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/buttons/ladda-themeless.min.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	//- Ladda Buttons Starts
	script(src='../../../app-assets/vendors/js/buttons/spin.min.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/buttons/ladda.min.js', type='text/javascript')
	//- Ladda Buttons Ends

append pagejs
	//- Buttons js file
	script(src='../../../app-assets/js/scripts/buttons/button-ladda.js', type='text/javascript')