//- =========================================================================================
	File Name: file-uploader-jquery.jade
	Description: jquery file uploader
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================

extends template

block pageVars
	- var pageTitle = "jQuery File Upload"
	- var pageSubTitle = "File upload widget with multiple file selection"
	- var description = "File Upload widget with multiple file selection, drag&drop support, progress bar, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads. Works with any server-side platform (google App Engine, PHP, Python, Ruby on Rails, Java, etc.) that supports standard HTML form file uploads."
	- var activeMenu = "file-uploader-jquery"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {name:"File Uploader"}, {name:"jQuery File Upload"}])



//- Include page content in page block
append content
	include ../contents/file-uploader-jquery.html

//- Vendor CSS
//------------------------------
//- Add vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/file-uploaders/blueimp-gallery.min.css')
	link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/file-uploaders/jquery.fileupload.css')
	link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/file-uploaders/jquery.fileupload-ui.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/vendor/jquery.ui.widget.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/vendor/tmpl.min.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/vendor/load-image.all.min.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/vendor/canvas-to-blob.min.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/vendor/jquery.blueimp-gallery.min.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/jquery.iframe-transport.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-process.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-image.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-audio.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-video.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-validate.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-ui.js', type='text/javascript')

//- Page JS
//------------------------------
append pagejs
	script(src='../../../app-assets/js/scripts/extensions/jquery-file-upload.js', type='text/javascript')