//- ===============================================================================================
  File Name: horizontal-top-icon-menu-template.jade
  Description: A template file for generating horizontal menu template with top icons.
  ----------------------------------------------------------------------------------------------
  Item Name: Robust - Responsive Admin Template
  Version: 2.0
  Author: PIXINVENT
  Author URL: http://www.themeforest.net/user/pixinvent
  ================================================================================================ -//

extends ../../base

//- Template customization
//------------------------

block templateConfig
  - var templateCustom = "horizontal-layout horizontal-top-icon-menu"
  - var dataMenu = "horizontal-menu" // - var dataMenu = "horizontal-top-icon-menu"

//- Page level customization
//------------------------
block pageConfig  
  - var navbarFixed = false
  - var menuOpen = "hover"
  

block navbarConfig
  - var navbarPosition = "navbar-static-top"
  - var navbarColor = "navbar-dark bg-blue-grey bg-lighten-1"
  - var navbarBrandCenter = true
  - var navbarBorder = true 

block horizontalMenuConfig
  - var horizontalMenuType = "navbar-fixed"
  - var horizontalMenuColor = "navbar-light"
  - var menuWithoutDDArrow = true
  - var menuShadow = true
  - var menuBorder = true

block footerConfig
  - var footerType = "footer-static"
  - var footerColor = "footer-dark"

//- Template includes
//-------------------

block header
  if(headerType == 'back-sk-header')
    include ../../templates/sections/header/back-sk-header
  else
    include ../../templates/sections/header/sk-header

block page-header
  if blankPage != true
    include ../../pages/page-headers/breadcrumbs-top

block main-menu
  include ../sections/menu/starter-kit/horizontal-top-icon-menu

block footer
  include ../sections/footer/footer

//- Template specific dependency
//------------------------------

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
block vendorcss

//- Page CSS
//------------------------------

//- Add custom page specific CSS
block pagecss 
  link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/core/menu/menu-types/horizontal-top-icon-menu.css')


//- Vendor JS
//------------------------------
//- Add vendor specific JS
block vendorjs
  script(type='text/javascript', src=app_assets_path + '/vendors/js/ui/jquery.sticky.js')

//- Page JS
//------------------------------
//- Add custom page specific JS
block pagejs
