//- =========================================================================
	File Name: color-palette-indigo.jade
	Description:  Bootstrap 4 Indigo Color Palette
	--------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================

extends template

block pageVars
	- var pageTitle   = "Indigo Color Page"
	- var pageSubTitle = "Indigo Color Options"
	- var description  = "Indigo Color Palette with background & border color."
	- var activeMenu  = "color-palette-indigo"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Color System"}, {name:"Indigo Palette"}])

//- Include page content in page block
append content
	include ../contents/color-palette-indigo.html