//- =========================================================================================
	File Name: dimple-pie-ring-chart.jade
	Description: Dimple pir & ring chart examples.
	----------------------------------------------------------------------------------------
	Item Name: Robust - Responsive Admin Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//
extends template

block pageVars
	- var pageTitle    = "Dimple Pie Chart"
	- var pageSubTitle = "Dimple pie chart examples"
	- var description  = "A pie chart (or a doughnut chart) is a circular statistical graphic, which is divided into slices to illustrate numerical proportion. In a pie chart, the arc length of each slice (and consequently its central angle and area), is proportional to the quantity it represents."
	- var activeMenu   = "dimple-pie-ring-chart"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Dimple Charts"}, {name:"Pie Chart"}])

//- Include page content in page block
append content
	include ../contents/dimple-pie-ring-chart.html

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src='../../../app-assets/vendors/js/charts/d3.min.js', type='text/javascript')
	script(src='../../../app-assets/vendors/js/charts/dimple.min.js', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src='../../../app-assets/js/scripts/charts/dimple/pie-ring.js', type='text/javascript')