// ================================================================================================
//     File Name: under-maintenance.scss
//     Description: Under Maintenance pages custom scss
//     ----------------------------------------------------------------------------------------------
//     Item Name: Robust - Responsive Admin Template
//     Version: 2.0
//     Author: PIXINVENT
//     Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

.bg-maintenance-image{
	background-image: url(../../../app-assets/images/backgrounds/bg-2.jpg);
	background-repeat: no-repeat;
    background-size: cover;
}

