@import url('https://fonts.googleapis.com/css?family=Lemonada:300,400,600&display=swap&subset=arabic,latin-ext,vietnamese');

* {

    font-family: 'Lemonada', cursive;
    font-size: 10px;

}

h4, h3{
    font-family: 'Lemonada', cursive;
    font-size: 17px;

}

.header-navbar.navbar-brand-center .navbar-header {
    width: auto !important;
}

div.dataTables_wrapper div.dataTables_filter label {
    text-align: right;
    width: 50%;
    float: left;
}

select.form-control:not([size]):not([multiple]), input.form-control {
    height: 34px;
}

footer.footer {
    float: left;
    margin-bottom: 20px;
    box-shadow: 3px 7px #00000038;
}